In [3]:
# girilen tamsayıyı ondalıklı hale getirmek istersek float fonksiyonunu kullanırız 
a = 43 
a = float(a)
a

43.0

In [4]:
float(-1)

-1.0

In [5]:
float(-7)

-7.0

In [6]:
# ondalıklı sayıyı tam sayıya çevirirken tam tersi yapılır float yerine int kullanılır ve int'e ondalıklı sayı verilir 
int(7.43)

7

In [7]:
b = 3.14
b = int(b)
b

3

In [8]:
# sayıları stringe çevirirken de str() fonksiyonu kullanılır!! 
str(345)

'345'

In [9]:
str(7.2)

'7.2'

In [10]:
a = str(71)
len(a)

2

In [13]:
b = str(7.2)
b
len(b)

3

In [14]:
#string ifadeleri integer'a çevirirken bazen sorunlar yaşanabilir 
a = "343452asdbasd"
int(a)

ValueError: invalid literal for int() with base 10: '343452asdbasd'

In [15]:
# sadece sayı verseydi bize integer'a çevirebilirdik 
a = "376"
int(a)

376

In [16]:
a = "3.1444545"
b = float(a)
b

3.1444545

In [17]:
#birden fazla nokta kullansaydı bize sorun yaratırdı !!!
a = "3.14.234"
b = float(a)
b

ValueError: could not convert string to float: '3.14.234'