In [1]:
# veri tipi dönüşümleri yapmayı öğreneceğiz ... 
# veri tipi dönüşümleri yapmak bazen string bir veriyi integer değere bile dönüştürdüğümüz olmaktadır...
#bir stringi tam sayıya dönüştümemiz gerekebilir bunlarda veri tipi dönüşümlerini kullanabiliriz.

In [2]:
# ilk olarak tam sayıyı ondalıklı sayıya çevirmeyi göreceğiz... 
# bir tam sayıyı ondalıklı sayıya çevirmek istiyorsak float() fonksiyonunu kullanılırız... 
a = 47 
a = float(a)
a

47.0

In [3]:
# önce değeri verdik sonra ondalıklı sayıya eşitledik en sonda da a değerini bastırdık. 
float(-1)

-1.0

In [4]:
float(-17)

-17.0

In [5]:
# hepsini göründüğü üzere ondalıklı hale getiriyor .

In [6]:
# ondalıklı sayıyı tam sayıya çevirirken int() fonksiyonunu kullanmaktayız 
a = 7.67
a

7.67

In [7]:
int(a)

7

In [8]:
""" 
Bir sayıyı stringe çevirirken str() fonksiyonunu kullanmaktayız 
bu ramakların her birinin bir string dizisine çevirmektedir... 

"""
a = 11012000
len()
str(a)

'11012000'

In [9]:
str(345)

'345'

In [10]:
b = str(789)
len(b)

3

In [11]:
b

'789'

In [12]:
t = str(3.14)

In [13]:
t

'3.14'

In [14]:
# bu str fonksiyonu sayesinde her bir rakamı karakter haline çevirmekteyiz..

In [15]:
# stringlerin tam sayıya çevirirken bazı kurallar vardır dikkat et 
# her bir string ifadenin ondalık tabanda olması gerekir yani birer rakam olması gerekmektedir...
a ="123"
int(a)

123

In [16]:
a

'123'

In [17]:
b = "123asdf"
int(b)

ValueError: invalid literal for int() with base 10: '123asdf'

In [18]:
#görüldüğü üzere sadece rakamlardan oluşabilir...
t = "3.14756454"
i = float(t)
i

3.14756454

In [19]:
#görüldüğü üzere int olamaz çünkü int'değerler tam sayılardır
y = int(t)
y

ValueError: invalid literal for int() with base 10: '3.14756454'

In [20]:
# float'da yaparken mantıklı bir şekilde yapmamız gerekir
f = "3.123213.123123"
float(f)

ValueError: could not convert string to float: '3.123213.123123'